@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

 main {
  width: 100vw;
  z-index: 99 ; 
  position: absolute;
  /* display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);  */
  
}   


.slide {
  /* grid-column: 8/12;
  grid-row: 3/3; */

  padding: 10px;
  font-size: 100px;
  background:none;
} 