@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.text-container {
  position: absolute;
  /* background-color: rgb(168, 168, 168); */
  
}