@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
    overflow-x: hidden; 
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

 main {
  width: 100vw;
  z-index: 99 ; 
  position: absolute;
  margin-top: 40%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr); 

}   


.slide {
  grid-column: 6/8;
  grid-row: 2/3;
  width: fit-content;
  padding: 10px;
  font-size: 4rem;
  background:white;
  border-radius: 5px;
} 